Package: jar2deb
Version: 1.0-1
Architecture: all
Maintainer: Paul Massey <paul.massey@tenforce.com>
Installed-Size: 44
Depends: debhelper, javahelper, fastjar
Section: misc
Priority: extra
Description: Packages a jar file as a binary debian package.
