Package: jar2deb
Version: 1.0
Architecture: all
Maintainer: Fred <fred@tenforce.com>
Installed-Size: 45
Depends: dpkg-deb, javahelper, fastjar
Section: misc
Priority: extra
Description: Does something
