Package: lodstack-analyse-packages
Version: 1.0
Architecture: all
Maintainer: Fred <fred@tenforce.com>
Installed-Size: 52
Depends: pbuilder, lintian, piuparts, wget, dpkg, schroot
Section: misc
Priority: extra
Description: Does something.
