Source: jar2deb
Section: misc
Priority: extra
#Architecture: all
Maintainer: Paul Massey <paul.massey@tenforce.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3
#Vcs-Browser: https://github.com/AKSW/rdf-dataset-integration

Package: jar2deb
Architecture: all
Depends: debhelper, javahelper, fastjar, ${misc:Depends}
Description: (Linked Data) Packages a JAR file as a binary debian package.
 (Linked Data) Allows the sharing of the JAR files across applications.
